body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 15px;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}
